# Quick Stocks Covar Matrix Algorithm

### This code aims to yield a quick way to analyze the covariance between chose stocks on SA market.

#### Firts of all, let start importing all the tools and sources (APIs) we're going to use:

In [1]:
import pandas as pd
import pandas_datareader.data as web
import yfinance as yf
from functools import reduce
yf.pdr_override()

#### Then we can define a function who'll ask for the amount and the stocks we want to analyze:

In [2]:
def askshares(): #here the user can fill with his infos
    n = input('Insira a quantidade de ativos: ')
    stocks = list()
    names=list()
    for i in range(int(n)):
        names.append(input('Insira um ticker'))
        stocks.append(web.get_data_yahoo(names[i]+'.SA'))
    return stocks, names #stocks is a list of df returned by each ticker informed

#### As you can see below, the dataframe returned have, basically, infos about the share price.

In [6]:
stocks[0]

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-02-08  10.003300  10.666700  10.003300  10.666700   9.220757  24803700
2013-02-13  10.716700  10.723300  10.436700  10.586700   9.151598   1948500
2013-02-14  10.466700  10.633300  10.333300  10.350000   8.946986   1350900
2013-02-15  10.336700  10.350000  10.286700  10.330000   8.929696   2288400
2013-02-18  10.026700  10.316700  10.000000  10.233300   8.846106    236400
...               ...        ...        ...        ...        ...       ...
2020-12-28  37.599998  37.700001  37.240002  37.500000  37.500000    272700
2020-12-29  37.509998  37.549999  37.119999  37.310001  37.310001    869200
2020-12-30  37.369999  37.500000  37.110001  37.459999  37.459999    491100
2021-01-04  37.470001  37.540001  37.139999  37.410000  37.410000    245000
2021-01-05  37.419998  37.430000  37.169998  37.360001  37.360001    719100

[1960 rows x 6 columns]

#### Therefore, we'll need to create a new function to tranform that data into daily returns data:

In [8]:
def rent(x, name = 'NaN', index='Date'): #make the dfs from yf a return dataframe
    lis = list()
    lis[:]
    date = list()
    date[:]
    for i in range(x.shape[0]-1):
        lis.append((x['Close'][i+1]-x['Close'][i])/(x['Close'][i]))
        date.append(x.index[i+1])
    ret = pd.DataFrame(data = lis, index=date, columns = [name])
    ret.index.name = index
    return ret

#### Once we've created the returns dataframe,we can get into covar fuction:

In [10]:
def covar():
    l = askshares()
    data = list()
    for i in range(len(l[1])):
        data.append(rent(l[0][i], name = l[1][i]))
    df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date']), data) #merge a number x of dfs in just one row
    li = df_merged.columns
    cov = df_merged.cov().loc[li,li]
    return cov

covar()

Insira a quantidade de ativos:  4
Insira um ticker LINX3

[*********************100%***********************]  1 of 1 completed

Insira um ticker ITUB4

[*********************100%***********************]  1 of 1 completed

Insira um ticker ARZZ3

[*********************100%***********************]  1 of 1 completed

Insira um ticker MDIA3

[*********************100%***********************]  1 of 1 completed

          LINX3     ITUB4     ARZZ3     MDIA3
LINX3  0.000675  0.000143  0.000193  0.000146
ITUB4  0.000143  0.000437  0.000217  0.000157
ARZZ3  0.000193  0.000217  0.000648  0.000166
MDIA3  0.000146  0.000157  0.000166  0.000437